.App{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.calci-keypad{
  max-width: 400px;
  margin: auto;
}
.result{
  height: 100px;
  background-color: whitesmoke;
  width: 100%;
  margin: 0.5px;
}
.result p{
  font-size: 30px;
  float: right;
}
.buttons{
  display: block;  
}
.buttons button{
  width: 25%;
  height: 50px;
  font-size: 20px;
  border-style: none;
  background-color:white;
}
.buttons .actions{
  font-size: 25px;
  background-color: whitesmoke;
}
#equal {
  width : 200px;
}